body {
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSvMqBap4lUd0ehVpuAjzGHpERsvtVp6SgKAZoHMhICRMSK0kyo');
  background-repeat: repeat-y;
  background-position: right;
}

#focal {
  color: rgba(121, 6, 33, 0.96);
  font-size: 1.5em;
}
.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

.highlight {
  font-weight: 700;
  font-size: 1.5em;
  color: #30B2CD;
}

.form{
  font-weight: 700;
  color: rgba(37, 42, 70, 0.96);
}

.shadow {
  box-shadow: 10px 10px 5px #888888;
}
