<div class="row">
    <div class="col-md-8">

      <form novalidate ng-submit="$ctrl.updatePost($event, post); $ctrl.editPost.$setPristine()" name="$ctrl.editPost" class="form" action="#">
        <div ng-class="{
          'has-error': $ctrl.editPost.title.$invalid && !$ctrl.editPost.title.$pristine}">
          <label for="title" class="form">Title</label>
          <input id="title" class="form-control ng-pristine" ng-model="$ctrl.post.title" required ng-minlength="1" type="text" name="title">
        </div>
        <div ng-class="{
          'has-error': $ctrl.editPost.body.$invalid && !$ctrl.editPost.body.$pristine}">
          <label for="body">Body</label>
          <textarea id="body" class="form-control ng-pristine" ng-model="$ctrl.post.body" ng-minlength="3" required type="text" name="body" ></textarea>
        </div>
        <div ng-class="{
          'has-error': $ctrl.editPost.author.$invalid && !$ctrl.editPost.author.$pristine }">
          <label for="author">Author</label>
          <input id="author" class="form-control ng-pristine" ng-model="$ctrl.post.author" ng-minlength="2" name="author" required>
        </div>
        <div ng-class="{
          'has-error': $ctrl.editPost.image.$invalid && !$ctrl.editPost.image.$pristine}">
          <label for="image-url">Image URL</label>
          <input id="image" class="form-control" ng-model="$ctrl.post.image_url" name="image" ng-minlength="8" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-class="{'disabled': $ctrl.editPost.$invalid}" ng-disabled="$ctrl.editPost.$invalid">
            Update Post {{$ctrl.posts.id}}
          </button>
        </div>
      </form>

    </div>
  </div>

<!-- display posts ngRepeat here-->
  <div class="row">
   <div class="col-md-12">

     <div class="well shadow">
       <div class="media-left">
         <img src="{{$ctrl.posts.image_url}}" class="media-object">
       </div>
       <div class="media-body">
         <h4 class="media-heading">
           {{$ctrl.posts.title}}
           |
           {{$ctrl.posts.vote_count}}
         </h4>
         <div class="text-right">
           <p class="highlight">{{$ctrl.posts.author}}</p>
         </div>
         <p>
           {{$ctrl.posts.body}}
         </p>
         <div>
           <span am-time-ago="$ctrl.posts.created_at"></span>
           |
           <i class="glyphicon glyphicon-comment"></i>
           <a ng-click="reveal = !reveal">
             <ng-pluralize count="$ctrl.posts.comments.length" when="{'0': 'no comments', 'one': '1 comment', 'other': '{} comments'}"> </ng-pluralize>
           </a>
         </div>
         <div class="row">
           <div class="col-md-offset-1">
             <hr>
             <p ng-repeat="comment in $ctrl.posts.comments track by $index" ng-show="reveal">
               {{comment.content}} </p>
           </div>
         </div>
       </div>
     </div>

   </div>
 </div>
